<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.yllyx.superocr.persistance.image.OcrResultErrorMapper">
  <resultMap id="BaseResultMap" type="www.yllyx.superocr.domain.image.OcrResultError">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, error_code, image_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error (id, error_code, image_id
      )
    values (#{id,jdbcType=INTEGER}, #{errorCode,jdbcType=VARCHAR}, #{imageId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    <set>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    set error_code = #{errorCode,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="www.yllyx.superocr.domain.image.OcrResultError">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, error_code, image_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error (id, error_code, image_id
      )
    values (#{id,jdbcType=INTEGER}, #{errorCode,jdbcType=VARCHAR}, #{imageId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    <set>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    set error_code = #{errorCode,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="www.yllyx.superocr.domain.image.OcrResultError">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="image_id" jdbcType="INTEGER" property="imageId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, error_code, image_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error (id, error_code, image_id
      )
    values (#{id,jdbcType=INTEGER}, #{errorCode,jdbcType=VARCHAR}, #{imageId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    <set>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    set error_code = #{errorCode,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="www.yllyx.superocr.domain.image.OcrResultError">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="errorCode" jdbcType="VARCHAR" property="errorcode" />
    <result column="imageId" jdbcType="INTEGER" property="imageid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, errorCode, imageId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ocr_result_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error (id, errorCode, imageId
      )
    values (#{id,jdbcType=INTEGER}, #{errorcode,jdbcType=VARCHAR}, #{imageid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    insert into ocr_result_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="errorcode != null">
        errorCode,
      </if>
      <if test="imageid != null">
        imageId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="errorcode != null">
        #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        #{imageid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    <set>
      <if test="errorcode != null">
        errorCode = #{errorcode,jdbcType=VARCHAR},
      </if>
      <if test="imageid != null">
        imageId = #{imageid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="www.yllyx.superocr.domain.image.OcrResultError">
    update ocr_result_error
    set errorCode = #{errorcode,jdbcType=VARCHAR},
      imageId = #{imageid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>